{{ define "content" }}
    <div class="main">
        <h2 class="my-4">About</h2>
        <div>We sell the best bakes ever!</div>
        <hr>
        <div>
            <small>
            simpleStore platform is created by:
            <br>
            Calvin Chew
            <br>
            <a href="mailto:simplestore@newzealot.com">simplestore@newzealot.com</a>
            </small>
        </div>
    </div>
{{ end }}