{{ define "content" }}
    <div class="main">
        <h2 class="my-4">Order Success</h2>
        <div class="mb-4">Your order number is {{ .SimpleStoreOrderID }}</div>
        <div>Please use this number as a reference when contacting us if you have enquiries about your order</div>
    </div>
{{ end }}