{{ define "content" }}
    <div class="main">
        <h2 class="my-4">Contact Us</h2>
        <div>
            <p>Calvin Chew</p>
            <p><a href="mailto:simplestore@newzealot.com">simplestore@newzealot.com</a></p>
        </div>
    </div>
{{ end }}