{{ define "content" }}

  <div class="sidenav navbar-light bg-light d-none d-lg-block">
    <ul class="navbar-nav ms-auto ps-4">
      {{range $collection := .Collections}}
        <li class="nav-item">
          <a class="nav-link active" href="/collection/{{$collection}}">{{$collection}}</a>
        </li>
      {{end}}
    </ul>
  </div>
  <div class="main bg-light vh-100">
    <h1>All Collections</h1>
  </div>
{{ end }}